.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #181b21;
    font-family: "Quicksand", sans-serif;
    letter-spacing: -0.23px;
}

.chatApplication__loaderWrapper {
    margin: 80px auto;
    text-align: center;
}

.chatApplication__loaderText {
    color: #4870df;
    font-weight: bold;
}

.chatApplication__loader,
.chatApplication__loader::before,
.chatApplication__loader::after {
    border-radius: 1em;
    width: 1em;
    height: 1em;
    animation-fill-mode: both;
    animation: loading 1.8s infinite ease-in-out;
}

.chatApplication__loader {
    margin: auto;
    color: #4870df;
    font-size: 12px;
    position: relative;
    animation-delay: -0.16s;
}

.chatApplication__loader::before,
.chatApplication__loader::after {
    content: "";
    position: absolute;
    top: 0;
}

.chatApplication__loader::before {
    left: -1.5em;
    animation-delay: -0.32s;
}

.chatApplication__loader::after {
    left: 1.5em;
}

.chatApplication__room {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    padding: 1.3rem 10rem;
    animation: fadeChatApp 0.6s ease-in-out;
    animation-fill-mode: forwards;
}

.chatApplication__conv {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    float: left;
    margin: 0 2.5rem;
    box-shadow: 0 35px 20px -30px rgba(0, 0, 0, 0.1);
}

.chatApplication__convTitle {
    display: inline-block;
    margin: 0 0 2rem 0;
    font-size: 18px;
    font-weight: bold;
    color: #f0f0f0;
    text-transform: uppercase;
    position: relative;
}

.chatApplication__convTitle::after {
    content: "";
    position: absolute;
    background-color: #4870df;
    width: 70%;
    height: 2px;
    border-radius: 30px;
    left: 0;
    right: 0;
    bottom: -16px;
}

.chatApplication__convTimeLine {
    display: flex;
    height: 400px;
    padding: 1rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fff;
    flex-direction: column-reverse;
    overflow-y: auto;
}

.chatApplication__convMessageItem {
    padding: 1rem 0 0 0;
    opacity: 0;
    transition: all 0.15s ease-in-out;
    animation: fadeNewMessage 0.5s;
    animation-fill-mode: forwards;
}

.chatApplication__convMessageAvatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    image-rendering: -webkit-optimize-contrast;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chatApplication__convMessageValue {
    position: relative;
    max-width: 50%;
    min-height: 40px;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatApplication__convMessageItem--left .chatApplication__convMessageAvatar {
    float: left;
}

.chatApplication__convMessageItem--left .chatApplication__convMessageValue {
    float: left;
    text-align: left;
    margin: 0 0 0 1rem;
    color: #fff;
    background-color: #4870df;
}

.chatApplication__convMessageItem--left .chatApplication__convMessageValue::before {
    content: "";
    position: absolute;
    top: 14px;
    left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 10px 6px 0;
    border-color: transparent #4870df transparent transparent;
}

.chatApplication__convMessageItem--right .chatApplication__convMessageAvatar {
    float: right;
}

.chatApplication__convMessageItem--right .chatApplication__convMessageValue {
    float: right;
    text-align: right;
    margin: 0 1rem 0 0;
    background-color: #fafafa;
}

.chatApplication__convMessageItem--right .chatApplication__convMessageValue::after {
    content: "";
    position: absolute;
    top: 14px;
    right: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 10px;
    border-color: transparent transparent transparent #fafafa;
}

.chatApplication__convMessageItem--left .chatApplication__convMessageValue a {
    color: #91ffb1;
}

.chatApplication__convMessageItem--left .chatApplication__convMessageValue a:hover,
.chatApplication__convMessageItem--left .chatApplication__convMessageValue a:focus {
    color: #75ff9e;
}

.chatApplication__convMessageItem--right .chatApplication__convMessageValue a {
    color: #09f;
}

.chatApplication__convMessageItem--right .chatApplication__convMessageValue a:hover,
.chatApplication__convMessageItem--right .chatApplication__convMessageValue a:focus {
    color: #007dd1;
}

.chatApplication__convSendMessage {
    position: relative;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #fff;
}

.chatApplication__convSendMessage {
    padding: 1rem;
}

.chatApplication__convInput {
    float: left;
    height: 40px;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 40px;
    margin: 0 0.5rem 0 0;
    width: calc(100% - 52px);
    background-color: #dedfed;
    box-shadow: inset 0 0 0 2px #dedfed;
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    transition: 0.15s all ease-in-out;
    box-sizing: border-box;
}

.chatApplication__convInput::placeholder {
    color: #b1b1b1;
    opacity: 1;
}

.chatApplication__convInput:-ms-input-placeholder {
    color: #b1b1b1;
}

.chatApplication__convInput::-ms-input-placeholder {
    color: #b1b1b1;
}

.chatApplication__convInput:focus,
.chatApplication__convInput:active {
    box-shadow: inset 0 0 0 2px #7690d6;
}

.chatApplication__convInput:focus {
    outline: none;
}

.chatApplication__convButton {
    float: right;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 8px;
    border-radius: 30px;
    color: #fff;
    background-color: #4870df;
    text-align: center;
    box-shadow: 0px 14px 10px -8px rgba(0, 0, 0, 0.2);
    transition: 0.15s all ease-in-out;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chatApplication__convButton:hover {
    background-color: #3c559c;
}

.chatApplication__convButton i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 0 0 1px;
    font-size: 22px;
}

.chatApplication__convButton--loading {
    cursor: wait;
    background-color: #4870df;
}

.chatApplication__convButton--loading:hover {
    background-color: #4870df;
}

.chatApplication__convButton--loading::before,
.chatApplication__convButton--loading::after {
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    margin: auto;
    border-radius: 40px;
    background-color: #fff;
}

.chatApplication__convButton--loading::after {
    animation: loadSendMessage 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.chatApplication__convButton--loading i {
    display: none;
}

.chatApplication__convSendMessage--typing .chatApplication__convTyping {
    display: block;
}

.chatApplication__convTyping {
    position: absolute;
    top: 0;
    font-size: 10px;
    font-weight: bold;
}

.chatApplication__convTypingDot {
    position: relative;
    left: 4px;
    display: inline-block;
    width: 2px;
    height: 2px;
    background-color: #606060;
    animation: typingMessage 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.chatApplication__convTypingDot::before,
.chatApplication__convTypingDot::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 2px;
    height: 2px;
    background-color: #606060;
    animation: typingMessage 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.chatApplication__convTypingDot::before {
    left: 4px;
    animation-delay: 0.5s;
}

.chatApplication__convTypingDot::after {
    left: 8px;
    animation-delay: 1s;
}

@media screen and (max-width: 768px) {
    .chatApplication__room {
        flex-wrap: wrap;
        padding: 2rem 1rem;
    }

    .chatApplication__conv {
        flex-basis: 100%;
        min-width: auto;
        width: 100%;
        margin: 0;
    }

    .chatApplication__conv:first-of-type {
        margin: 0 0 4rem 0;
    }
}

@keyframes loading {

    0%,
    80%,
    100% {
        box-shadow: 0 1em 0 -1.3em;
    }

    40% {
        box-shadow: 0 1em 0 0;
    }
}

@keyframes fadeChatApp {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeNewMessage {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes loadSendMessage {
    0% {
        opacity: 1;
        width: 4px;
        height: 4px;
    }

    100% {
        opacity: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes typingMessage {
    0% {
        background-color: #606060;
    }

    50% {
        background-color: #fff;
    }

    60% {
        background-color: #606060;
    }
}